<section data-scroll-bar="350">
	<form name="CollectionsForm" class="form-content">
		<div class="row-fluid">
			<div class="span4">
				<label class="bold">Current Password <span class="required">*</span></label>
			</div>
			<div class="span3">
				<input type="password" placeholder="Enter current password" class="span12" data-ng-model="Model.ChangePasswordObj.currentPwd" data-ng-blur="Model.VerifyCurrentPassword()" required=""  />
				<div class="error-messages" data-ng-show="CollectionsForm.customer_id.$error.required && CollectionsForm.customer_id.$dirty" data-ng-bind="commonMediater.MandatoryErrorMessage"></div>			
				<div class="error-messages" data-ng-show="!Model.IsCurrentPasswordValid" data-ng-bind="commonMediater.CurrentPasswordErrorMessage"></div>			
			</div>
		</div>
		
		
		<div class="row-fluid">
			<div class="span4">
				<label class="bold">Enter the new Password<span class="required">*</span></label>
			</div>
			<div class="span3">
				<input type="password" placeholder="Enter new password" class="span12" data-ng-model="Model.ChangePasswordObj.newPwd1" required=""  />
				<div class="error-messages" data-ng-show="CollectionsForm.customer_id.$error.required && CollectionsForm.customer_id.$dirty" data-ng-bind="commonMediater.MandatoryErrorMessage"></div>			
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4">
				<label class="bold">Confirm new Password<span class="required">*</span></label>
			</div>
			<div class="span3">
				<input type="password" placeholder="Confirm new password" class="span12" data-ng-model="Model.ChangePasswordObj.newPwd2" data-ng-blur="Model.VerifyNewPasswords()" required=""  />
				<div class="error-messages" data-ng-show="CollectionsForm.customer_id.$error.required && CollectionsForm.customer_id.$dirty" data-ng-bind="commonMediater.MandatoryErrorMessage"></div>			
				<div class="error-messages" data-ng-show="Model.NewPasswordMismatch" data-ng-bind="commonMediater.PasswordMismatchErrorMessage"></div>			
				
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="offset4 span4 float-right">
				<button class="btn btn-warning" data-ng-click="Model.ChangePassword()" data-ng-disabled="CollectionsForm.$invalid || !Model.IsCurrentPasswordValid || Model.NewPasswordMismatch">Change Password</button>
				<button class="btn btn-normal" data-ng-click="Model.Clear()">Clear</button>
			</div>			
		</div>
		
	</form>
</section>