<section data-scroll-bar="350">
	<form name="ResetPasswordForm" class="form-content">
	<div class="row-fluid">
		<div class="span2">
			<label class="bold">Select agent<span class="required">*</span></label>
		</div>
		<div class="span3">
			<select data-ng-options="agent.id as agent.name for agent in Model.Agents" name="agentselect" required=""  data-ng-model="Model.ResetPasswordObj.agendId">	
			</select>
			<div class="error-messages" data-ng-show="Model.ResetPasswordObj.agendId == 0 && ResetPasswordForm.agentselect.$dirty" data-ng-bind="commonMediater.SelectAgentErrorMessage"></div>
		</div>
		
		<div class="span4">
				<button class="btn btn-warning" data-ng-click="Model.ResetPassword()" data-ng-disabled="ResetPasswordForm.$invalid || Model.ResetPasswordObj.agendId == 0">Reset Password</button>
				<button class="btn btn-normal" data-ng-click="Model.Clear()">Clear</button>
			</div>		
	</div>
		
		
		<div class="row-fluid">
				
		</div>
		
	</form>
</section>