<section data-ng-controller="customerBiodataController">
    <article id="customerDetails">
        <div class="thumbnail">
            <div class="caption">
                <div class="row-fluid">
                    <div class="span6">
                        <h3>Customer Profile.</h3>
                    </div>
                    <div class="span6 alignR">
                        <button class="btn btn-success" data-ng-click="Model.Close()">Back</button>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span3">
                        <img class="biodata_card_size"  data-ng-src="{{Model.CustomerDetails.image_url}}">
                    </div>
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Membership Number</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.CustomerDetails.id"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Name</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.CustomerDetails.name"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Contact Number</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.CustomerDetails.contact_number"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Address</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.CustomerDetails.address"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <article id="agentDetails">
        <div class="thumbnail">
            <div class="caption">
                <h3>Agent Profile.</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <img class="biodata_card_size" data-ng-src="{{Model.AgentDetails.image_url}}">
                    </div>
                <div class="span6">
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Agent Id</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.AgentDetails.id"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Name</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.AgentDetails.name"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Contact Number</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.AgentDetails.contact_number"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <span>Address</span>
                            </div>
                            <div class="span6">
                                <span data-ng-bind="Model.AgentDetails.address"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <article id="transactionSummary">
        <div class="thumbnail">
            <div class="caption">
                <h3>Transaction Summary</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <span>No. Of Installments</span>
                    </div>
                    <div class="span3">
                        <span>Total Installment Amount</span>
                    </div>
                    <div class="span3">
                        <span>Total Paid Amount</span>
                    </div>
                    <div class="span3">
                        <span>Total Due Amount</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <span data-ng-bind="Model.Summary.NumberOfInstallments"></span>
                    </div>
                    <div class="span3">
                        <span data-ng-bind="Model.Summary.TotalInstallmentAmount | currency:'₹'"></span>
                    </div>
                    <div class="span3">
                        <span data-ng-bind="Model.Summary.TotalPaidAmount | currency:'₹'"></span>
                    </div>
                    <div class="span3">
                        <span data-ng-bind="Model.Summary.TotalDueAmount | currency:'₹'"></span>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article id="transHistoryDetails" data-ng-show="Model.TransHistoryDetails.length != 0" style="  background: #F3F2F2;">
        <h3>Transaction History Details.</h3>
        <div data-scroll-bar="1400">
            <ul class="thumbnails" >
                <li style="width: 290px" data-ng-repeat="trans in Model.TransHistoryDetails | filter:Model.filter" class="grid-view-alignment">
                    <div class="thumbnail">
                        <div class="caption customer_card">
                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Installment Number</span>
                                </div>
                                <div class="span5">
                                    <span class="margin-top-0" data-ng-bind="trans.installment_number"></span>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Payment Date</span>
                                </div>
                                <div class="span5">
                                    <span data-ng-bind="trans.paid_date | date:'dd/MMM/yyyy'"></span>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Paid Amount</span>
                                </div>
                                <div class="span5">
                                    <span data-ng-bind="trans.paid_amount | currency:'&#8377;'"></span>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Due Amount</span>
                                </div>
                                <div class="span5">
                                    <span data-ng-bind="trans.due_amount | currency:'&#8377;'"></span>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Installment Amount</span>
                                </div>
                                <div class="span5">
                                    <span data-ng-bind="trans.total_installment_amount | currency:'&#8377;'"></span>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Receipt No.</span>
                                </div>
                                <div class="span5">
                                    <span data-ng-bind="trans.receipt_id"></span>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span7">
                                    <span>Status</span>
                                </div>
                                <div class="span5">
                                    <span data-ng-init="Model.GetStatusClass(trans)" class="margin-top-0" data-ng-class="trans.statusclass" data-ng-bind="trans.payment_status_flag"></span>
                                </div>
                            </div>

                            <br class="clr">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>

    <article id="NoTransFound" data-ng-show="Model.TransHistoryDetails.length == 0">
        <div class="thumbnail">
            <div class="caption">
                <h3>Transaction History Details.</h3>
                <span>No transactions found for the selected customer.</span>
            </div>
        </div>
    </article>
</section>