<!-- Header section-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="topNav">
		<div class="container">
		<h3>Real Estate Management System</h3>
			<div class="alignR">				
				<img src="../../images/title.jpg"/>				
			</div>
		</div>
	</div>
</div>
<!-- ============================================= -->
<div class="container">
<div id="gototop"> </div>
<header id="header">
<div class="row">
	<div class="span4">
	<h1>
	<a class="logo" href="index.html"><span>Real Estate Management System.</span> 
		<img src="../../assets/img/logo-bootstrap-shoping-cart.png" alt="bootstrap sexy shop">
	</a>
	</h1>
	</div>
	
</div>
</header>
